//- 導覽列
nav.navbar.navbar-default.navbar-fixed-top.at_top
  .container
    .navbar-header
      button.navbar-toggle.collapsed(
        type="button",
        data-toggle="collapse",
        data-target="#navbar",
        aria-expanded="false",
        aria-controls="navbar"
      )
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="#header_index") YuTzu Fan
    #navbar.navbar-collapse.collapse
      ul.nav.navbar-nav.navbar-right
        li
          a(href="#section_about") About
        li
          a(href="#section_skills") Skills
        li
          a(href="#section_works")
            | Works
            span.sr-only (current)
        li
          a(href="#section_contact") Contact
    // /.nav-collapse

header#header_index
  .row
    .col-sm-12 
      img.icon.back(src="https://i.imgur.com/G8oF9Z7.png", alt="")
      img.icon.front(src="https://i.imgur.com/RJlifBP.png", alt="")
      img.icon.s700(src="https://i.imgur.com/Jd03EC9.png", alt="")

  .container 
    img.marginbottom.mountain(src="https://i.imgur.com/GaQhZvN.png", alt="")

    .explore.at_top EXPLORE

section#section_about
  img#bear(src="https://i.imgur.com/sCnRruD.png", alt="")
  img#fish(src="https://i.imgur.com/qUfcaJ8.png", alt="")
  
  
  .white
    img.marginbottom.white(src="https://i.imgur.com/wttFqTA.png", alt="")
  .container
    .row
      .col-sm-8.col-sm-offset-4
        img.tri1(src="https://i.imgur.com/4VH15eL.png", alt="")
        h2.r1text Hi！我是畢業於文藻外語大學數位系的學生
    .row
      .col-sm-4
        img.tri2(src="https://i.imgur.com/VmYgeNR.png", alt="")
      .col-sm-8
        h3.r2text 大四時我在公司實習培養了
        h3.r2text 攝影、剪輯以及排版設計的實務經驗，
        h3.r2text 而這個網站是我的學習成果，
        h3.r2text 目前正在找尋網頁前端相關的工作，
    .clearfix
    .row
      .col-sm-8 
        h2.r3text 希望貴公司能給我一個機會！
        img.tri4(src="https://i.imgur.com/VbgawyX.png", alt="") 
      .col-sm-4.btn-area
        img.tri3(src="https://i.imgur.com/JRdKHzs.png", alt="")
      .col-sm-4

section#section_skills
  .container
    .row
      .col-sm-12
        h1 ▋SKILLS
      .col-sm-6
        .row.photoshop
          .col-sm-3 
            h3 Photoshop
          .col-sm-6 
            img(src="https://i.imgur.com/vqnVCC8.png", alt="")
          .col-sm-3
            p Proficient
        .row.Illustrator
          .col-sm-3 
            h3 Illustrator
          .col-sm-6 
            img(src="https://i.imgur.com/vqnVCC8.png", alt="")
          .col-sm-3
            p Proficient
        .row.HTML
          .col-sm-3 
            h3 HTML
          .col-sm-6 
            img(src="https://i.imgur.com/1bv1Tct.png", alt="")
          .col-sm-3
            p Expert
        .row.CSS
          .col-sm-3 
            h3 CSS
          .col-sm-6 
            img(src="https://i.imgur.com/vqnVCC8.png", alt="")
          .col-sm-3
            p Proficient
        .row.js
          .col-sm-3 
            h3 Javascript
          .col-sm-6 
            img(src="https://i.imgur.com/YAIo0MD.png", alt="")
          .col-sm-3
            p Intermediate
      .col-sm-6
        .row.Bootstrap
          .col-sm-3 
            h3 Bootstrap
          .col-sm-6 
            img(src="https://i.imgur.com/vqnVCC8.png", alt="")
          .col-sm-3
            p Proficient
        .row.Pug
          .col-sm-3 
            h3 Pug/Sass
          .col-sm-6 
            img(src="https://i.imgur.com/1bv1Tct.png", alt="")
          .col-sm-3
            p Expert
        .row.jq
          .col-sm-3 
            h3 jQuery
          .col-sm-6 
            img(src="https://i.imgur.com/YAIo0MD.png", alt="")
          .col-sm-3
            p Intermediate
        .row.ms
          .col-sm-3 
            h3 MySQL
          .col-sm-6 
            img(src="https://i.imgur.com/Lg1vnw8.png", alt="")
          .col-sm-3
            p Bigginner
        .row.php
          .col-sm-3 
            h3 PHP
          .col-sm-6 
            img(src="https://i.imgur.com/Lg1vnw8.png", alt="")
          .col-sm-3
            p Bigginner

section#section_works
  img.marginbottom.cloud(src="https://i.imgur.com/6ssOC1g.png", alt="")
  .container
    .row
      .col-sm-12
        h1 ▋WORKS
      .col-sm-4.work
        a(href="https://i.imgur.com/2k40kUS.png",target="_blank")
          img(src="https://i.imgur.com/lYXk4uA.png",alt="").image
          .texts
            h4.title 個人網站設計與製作
            p.content 使用Illustrator設計 Html/CSS/Javascript製作
      
      .col-sm-4.work
        a(href="https://myfastclass.1shop.tw/hdyb22",target="_blank")
          img(src="https://i.imgur.com/eYANwRP.png",alt="").image
          .texts
            h4.title 銷售頁面設計
            p.content 使用Illustrator設計
      
      .col-sm-4.work
        a(href="https://www.youtube.com/watch?v=m4XtZUYEjjc",target="_blank")
          img(src="https://i.imgur.com/bRGWddj.jpg",alt="").image
          .texts
            h4.title 影片剪輯
            p.content 使用剪輯軟體Premiere Pro、After Effects

section#section_contact
  img#bear_blue.bear(src="https://i.imgur.com/z0PueXu.png", alt="")
  img#bear_white.bear(src="https://i.imgur.com/78mxdbY.png", alt="")
  img#bear_gray.bear(src="https://i.imgur.com/sPzbyMf.png", alt="")

  img.margintop.cloud(src="https://i.imgur.com/P6jM0jY.png", alt="")
  img.marginbottom.sea(src="https://i.imgur.com/VZ2WKGH.png", alt="")
  .container
    .row
      .col-sm-6 
        .bottle
          .bottleback
            img(src="https://i.imgur.com/0zAiBwX.png", alt="")
          .bottletext
            h4 If you have any question about me,<br>Don`t hestitate to contact me !
            h4 E-MAIL : isYuTzu.Fan@gmail.com
            h4 Phone : 0905-679-762
      .col-sm-6 
//- ----------------------------
footer#footer
  .container
    h4 YuTzu Fan 范育慈
    
